---
import Card from "./Card.astro";
import {backgrounds} from "./backgrounds"
---

<section class="grid gap-4 mb-9 grid-cols-[repeat(auto-fill,_minmax(15rem,_1fr))]">
    {
        backgrounds.map((e)=>(
            <Card backgroundTW={e.background_tailwind}
            backgroundCSS={e.background_css}
            />))
    }
        {
            backgrounds.map((e)=>(
                <Card backgroundTW={e.background_tailwind}
                backgroundCSS={e.background_css}
                />))
        }
            {
                backgrounds.map((e)=>(
                    <Card backgroundTW={e.background_tailwind}
                    backgroundCSS={e.background_css}
                    />))
            }
</section>


